@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    font-size: 62.5%;
    list-style: none;
    max-width: 100%;
}

a{ 
    text-decoration: none;
    font-weight: 400;
    /*1.6*10 = 16px */
    font-size: 1.6rem;
    color:black;
}

h1,h2,p{
    margin:  1.6rem 0;
}

h1{
    font-weight: 800;
    font-size: 3.5rem;
}
/*-------------------------Hero Section*/
header{
    height:100vh;
    max-width:100% ;
    background-image: url(../images/group-martial-arts.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:black;
}

nav{
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    margin-left:2.5rem;
}

nav ul li a:hover{
    color:rgb(220, 132, 16);
    transition: .5s ease-in-out;
}

@media only screen and (max-width:790px){
    nav{
        flex-direction: column;
        
        
    }

    @media only screen and (max-width:560px){
        nav ul li{
            display:block;
            padding: 2% 0;
            
        }
        body,html{
            max-width:100%;
            overflow-x: hidden;
        }
    }