@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
    font-size: 62.5%;
    list-style: none;
    max-width: 100%;
}

a{ 
    text-decoration: none;
    font-weight: 400;
    /*1.6*10 = 16px */
    font-size: 1.6rem;
    color:black;
}

h1,h2,p{
    margin:  1.6rem 0;
}

h1{
    font-weight: 800;
    font-size: 3.5rem;
}

h2{
    font-weight: 800;
    font-size: 2.4rem;
}

p{
    font-weight: 400;
    font-size: 1.8rem;
}

img{
    width:100%;
    height:auto;
}

.row{
    display:flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin:auto;
}
/*-------------------------Hero Section*/
header{
    height:100vh;
    max-width:100% ;
    background-image: url(../images/group-martial-arts.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:black;
}

nav{
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    margin-left:2.5rem;
}

nav ul li a:hover{
    color:rgb(220, 132, 16);
    transition: .5s ease-in-out;
}

@media only screen and (max-width:790px){
    nav{
        flex-direction: column;
        
        
    }

    @media only screen and (max-width:560px){
        nav ul li{
            display:block;
            padding: 2% 0;
            
        }
        body,html{
            max-width:100%;
            overflow-x: hidden;
        }
    }
}


/*-----------------------------Classes----*/
.row{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: space-between;
    margin-top: 50px;
}


@media only screen and (max-width: 1230px){
    .row{
        flex-direction: column;
    }
    .row.col{
        margin:20px auto;
    }
    .col img{
        max-width:100%;
    }
}

/*main body*/
.columns{
    display: flex;
    gap:2rem;
    flex-direction: column;
    margin: 20px;
    
   
}
.columns > * {
    flex-basis: 100%;
    
}
.card_title{
    font-size: medium;
    text-align: center;
    padding: 18px;
    
   }
h3{
    color: burlywood;
}
 .cards h2{
    text-align: center;
    color: aqua;
 }



@media(min-width:1290px){
    .columns{
        flex-direction: row;
    }
}

/*----------------------------Pricing-------------*/
.heading-primary{
    text-align: center;
    font-size: 3rem;
    margin: 50px 0;
   
}
.plan-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   
   
}
.plan-section .plan{
   width: 300px; 
   height: 370px;
   text-align: center;
   padding: 30px 20px;
   margin-right:100px ;
   margin-bottom: 20px;
   border-radius: 5px;
   box-shadow: 0 0.6rem 1.6rem #b3b5c6;

}
.plan-section .plan .plan-price{
    font-size: 4rem;
}
.plan-section .plan .dollar{
font-size: 2rem;
font-weight: 400;
vertical-align: middle;

}
 .plan-section .plan .plan-features .plan-item{
   
    border-bottom: 1px solid #b3b5c6;
}
.plan-section .plan .btn{
    background-color: bisque;
    display: block;
    padding: 10px;
    margin-top: 20px;
    color: rgb(34, 32, 32);
    border-radius: 5px;

}
.plan-section .plan .btn:hover{
    background-color: aliceblue;
    color: #8aa3ed;
    border:1px solid burlywood;
    font-weight: 900;
}



li{
    font-size: medium;
}

.plan-section .basic{
    background-color:aqua;
}
.plan-section .pro{
    background-color: bisque;
}
.plan-section .master{
    background-color: rgb(91, 68, 38);
}
@media (max-width:1100px){
    .plan-section{
        flex-direction: column;
    }
}
@media(max-width:600px){
     .plan-section{
        
        margin-left: 100px;
    
     }
}

  /*----------------------------------testimony----------------*/
.testimony{
    background-color: burlywood;
    color: rgb(68, 62, 62);
}
.testimony .test{
    background-color: bisque;
    padding: 4rem 8rem;
    margin:0 1rem
}
.testimony .image{
    height: 80px;
    width: 80px;
}
.testimony img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;